:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/*table*/
th {
  color: green;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 28pt;
}
  
table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  max-width: 800px;
  margin-top: 60px;
}

tr  {
  color: white;
  font-family: sans-serif;
  padding: 20px;
  margin-top: 80px;
  border: 1px solid white;
 }

.info {
  color: #6CC7F4;
  font-size: 16pt;
}

td {
  font-size: 18pt;
  font-family: 'Times New Roman', Times, serif;
}

.getMoreInfo:hover {
  color: green;
  cursor: pointer;
}

/*Selected Component*/
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:  #008CBA;
}

.backButton {
  background-color: #008CBA;
  color: white; 
  padding: 12px 24px; 
  border: none;
  cursor: pointer; 
  font-size: 16px; 
  border-radius: 5px; 
}

.backButton:hover {
  cursor: pointer;
  color: #242424;
}


